doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 用户详情
    link(rel='stylesheet', type='text/css', href='./src/css/details.css')
  body
    #main_content
      h1 用户详情
      #textContent
        div
          p 用户名 ：
          p#username #{username}
        hr
        div
          p 学号 ：
          p#studentID #{studentID}
        hr
        div
          p 电话 ：
          p#telephone #{telephone}
        hr
        div
          p 邮箱 ：
          p#email #{email}
      button.back_button
        a(href='/', title='back') 返回注册页面
